:root {
    --border-radius: 20px;
    --whole-page: 100%;
}
body {
    border-radius: var(--border-radius);
    display: flex;
    width: var(--whole-page);
    height: 50%;
div.project {
    padding: 20px;
    width: 10%;
    height: 20%;
    border-radius: var(--border-radius);
    img {
        width: var(--whole-page);
        height: 30%;
        border-radius: var(--border-radius);
    }
}}
a:not(:hover) {
    color:blue
}
a:hover {
    color: aquamarine
}